@charset "UT8";

body {
    background-color: rgb(53, 100, 170);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.8);
}

#sel {
    width: 150px;
}

#cNum {
    width: 140px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
